#root {
  user-select: none;
}

.palagotchiSpriteSelector {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.palagotchiSprite {
  border: 0.1rem solid black;
  margin-left: 1rem;
  margin-right: 1rem;
}

.palagotchiColorPatternSelector {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.palagotchiColorPattern {
  border: 0.1rem solid black;
  margin-left: 1rem;
  margin-right: 1rem;
}

.Navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
}

.NavbarButton {
  font-size: 24px;
}

.palagotchiNameTitle {
  text-align: center;
  font-size: 44px;
}

.statDisplay-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  background: lightblue;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
}

.HP-text,
.Hunger-text,
.Happiness-text {
  width: 100%;
  border: 0.1rem solid black;
  color: black;
  font-size: 30px;
}

.HP-icon,
.Hunger-icon,
.Happiness-icon {
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: black;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.game-container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sprite-container {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue; /* Default background color */
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

.sprite-container.dark {
  background: black;
}

.sprite {
  width: 50%;
  height: 50%;
  max-width: 550px;
  max-height: 550px;
  animation: bounce 1s infinite alternate;
}

.HP-icon {
  font-size: 100px;
  background: linear-gradient(to top, red var(--hp), white var(--hp));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.Hunger-icon {
  font-size: 100px;
  background: linear-gradient(to top, red var(--hungry), white var(--hungry));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.Happiness-icon {
  font-size: 100px;
  background: linear-gradient(to top, red var(--happi), white var(--happi));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.light-switch {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10; /* Ensure it's above other elements */
}

.light-switch:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.pizza-emoji {
  position: absolute;
  font-size: 2rem;
  animation: moveAcross 5s linear infinite;
}

@keyframes moveAcross {
  0% {
    left: -10%;
  }
  100% {
    left: 100%;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
